<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <% @heroes.each do |hero| %>
      <%= hero.h_name %>
      <% end %>
    </div>
    <div>
      <%= @heroes.random %>
    </div>
  </body>
</html>