.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% 50%;
  background-color: #FFFFFF;
  color: #444444;
}
th, td {
  border: 2px ridge #E6EEFF;
}
.a-col{
  color: #fff;
  background-color: #444444;
}
.b-col{
  background-color: #444444;  
}
.box {
  color: #FFFFFF;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
.game-blizz{
}
.game-diablo{
}
.game-sc {
}
.game-wc {
}
.game-ow {
}
.tank-class{
}
.spec-class{
}
.icon-class{
}
.assn-class{
}
.highlighted{
  background-color: yellow;
}